.wrapper {
  padding-top: 100px;
}

.form {
  width: 320px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 15px;
  border-radius: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #fff;
}

.input {
  border-radius: 3px;
  outline: none;
  border: transparent;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.title {
  margin: 0;
  height: auto;
  text-align: center;
  font-size: 72px;
  margin-bottom: 20px;
  color: #fa0707;
}

.btn {
  width: 80px;
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: transparent;
}

.btn:hover {
  color: #fff;
  background-color: #fa0707;
  transition: color 0.2s linear;
}
